.card-tile {
    @include card-tile-scaler(2);
    vertical-align: middle;
    border-style: solid;
    font-family: 'HighlandGothicFLF';
}

// NICETO generate these
// {component_name}--{enum_name}__{enum_value} \{
//     @include {enum_name}(${enum_name}-{enum_value})
// \}
// Requires a mixin

.card-tile--faction__blob {
    @include faction($faction-blob)
}

.card-tile--faction__trade-federation {
    @include faction($faction-trade-federation);
}

.card-tile--faction__machine-cult {
    @include faction($faction-machine-cult);
}

.card-tile--faction__star-empire {
    @include faction($faction-star-empire)
}

.card-tile--faction__unaligned {
    @include faction($faction-unaligned)
}
