@import 'Icon';

@font-face {
    font-family: 'uDIN1451MittelschriftRegular';
    src: url('../../fonts/u-din-1451-mittelschrift/uDIN1451Mittelschrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.cost-icon {
    position: relative;
    height: auto;
    width: 32px;
    float: right;
}

.cost-icon img {
    position: absolute;
    left: 0;
    top: 0;
}

.cost-icon p {
    font-family: 'uDIN1451MittelschriftRegular';
    color: black;
    font-weight: bold;
    z-index: 100;
    position: absolute;
    top: -15px;
    left: 11.5px;
}