@font-face {
    font-family: 'HighlandGothicFLF';
    src: url('../../fonts/HighlandGothicFLF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uDIN1451MittelschriftRegular';
    src: url('../../fonts/u-din-1451-mittelschrift/uDIN1451Mittelschrift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}